
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
  </head>
<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a >
                            <img src="assets/img/logo3.png" alt="" width="1000px" >
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a [routerLink]="'/homePage'">Home</a>
                            </li>
                            <li><a >About</a></li>
                            <li><a >Pages</a>
                            </li>
                            <li><a >News</a>
                            </li>
                            <li><a>Contact</a></li>
                            <li><a >Shop</a>
                            </li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                                    <a class="mobile-hide search-bar-icon"><i class="fas fa-search"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" ><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>{{this.currentuser.firstName}} </p>
                    <p>See more Details </p>
                    <h1>Moroccan estate auction</h1>
                    <h1 *ngIf="offerSelected.title!=undefined">{{offerSelected.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img [src]="offerSelected.imagename" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3 *ngIf="offerSelected.title">{{offerSelected.title}}</h3>
                    <p *ngIf="offerSelected.initialprice" class="single-product-pricing"><span></span> ${{offerSelected.initialprice}}</p>
                    <p *ngIf="offerSelected.description">{{offerSelected.description}}</p>
                    <p *ngIf="offerSelected.debutAuction"class="single-product-pricing">{{offerSelected.debutAuction| date:'medium'}}</p><br>
                    <p *ngIf="offerSelected.duration" class="single-product-pricing">To: {{offerSelected.duration| date:'medium'}}</p>
                    <div class="single-product-form">
                        <form  #myForm="ngForm"   ngNativeValidate>
                            <div ngModelGroup="bidDetails" #bidDetail="ngModelGroup">
                            <input name="price" id="price" [(ngModel)]="this.addedBid.price" type="number" placeholder="0">
                        </div>
                        <a (click)="onSubmit();" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        </form>
                       
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->
<div class="row" class="single-product mt-200 mb-200">
    <div class="col-xl-8 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body px-0 overflow-auto">
          <h4 class="card-title pl-4">Bidding History</h4>
          <div class="table-responsive">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th>Customer</th>
                  <th>Previews Prices</th>
                  <th>State </th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item2 of auctionsbyofferid | orderBy: '-price': reverse |paginate:{itemsPerPage:10, currentPage:p};">
                  <td>{{getuserbyid(item2.iduser)}}</td>
                  
                  <td *ngIf="item2.price!=undefined" >${{item2.price}}</td>
                  <td>
                    <div *ngIf="item2.state==true"class="badge badge-inverse-danger"> Completed  </div>
                    <div *ngIf="item2.state==false"class="badge badge-inverse-success"> Pending </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <div id="ctl0_CONTENU_PAGE_ctl0_panelBottom" class="repeater-header-right">
            <!--Debut Pagnination Bottom-->
            <pagination-controls  (pageChange)="p=$event"></pagination-controls>
            <br><br><br>
            <!--Fin Pagnination Bottom-->
          </div>
        </div>
      </div>
    </div>
    
  </div>





<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                        <li>support@fruitkha.com</li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Shop</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
                    Distributed By - <a href="https://themewagon.com/">Themewagon</a>
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="assets/js/sticker.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>
