
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Breeze Admin</title>
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <style> 
      input[type=button], input[type=submit], input[type=reset] {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
      </style>
  </head>
  
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <a class="sidebar-brand brand-logo" [routerLink]="'/dashseller'"><img src="assets/img/logo3.png" alt="" width="1000px" ></a>
          <a class="sidebar-brand brand-logo-mini pl-4 pt-3"[routerLink]="'/dashseller'"><img src="assets/img/logo3.png" alt="" width="1000px" ></a>
        </div>
        <ul class="nav">
         
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/dashseller'">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title" >Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/dashform'" >
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title">Forms</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/selleroffers'" >
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title" >Vos offres</span>
              </a>
            </li>
            <li class="nav-item sidebar-actions">
              <div class="nav-link">
                <div class="mt-4">
                  <div class="border-none">
                    <p class="text-black">Notification</p>
                  </div>
                  <ul class="mt-4 pl-0">
                    <li>Sign Out</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <!-- <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div> -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Add your offer</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Form elements </li>
                </ol>
              </nav>
            </div>
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Fill the form</h4>
                    
                    <form class="forms-sample">
                      <form #myForm="ngForm"   ngNativeValidate>
                        <div ngModelGroup="offerDetails" #offerDetail="ngModelGroup">
                      <div class="form-group">
                        <label for="exampleInputName1">Title</label>
                        <input type="text" class="form-control" name="title" id="title" [(ngModel)]="this.addedOffer.title" placeholder="Title" />
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Address</label>
                        <input type="text" class="form-control" name="address" id="address" [(ngModel)]="this.addedOffer.address" placeholder="Address" />
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Initial Price</label>
                        <input type="text" class="form-control" name="initialprice" id="initialprice" [(ngModel)]="this.addedOffer.initialprice" placeholder="Initial Price" />
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Deadline</label>
                        <input type="date" class="form-control" name="duration" id="duration" [(ngModel)]="this.addedOffer.duration" placeholder="Deadline" />
                      </div>
                      <br>
                      <div class="form-group">
                        <div class="container row">
                          <div class="col-md-6">
                              <input type="file"  (change)="onFileChanged($event)">
                          </div>
                          <br>
                          <div class="col-md-6">
                              <input type="button" class="btn btn-primary mr-2"  (click)="onUpload()" value="upload">
                          </div>
                      </div>
                       
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="exampleInputCity1">Start of Auction</label>
                        <input type="date" class="form-control" name="debutAuction" id="debutAuction" [(ngModel)]="this.addedOffer.debutAuction" placeholder="Start of Auction" />
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="exampleInputPassword4"> Surface en m^2</label>
                        <input type="number" class="form-control" name="surface" id="surface" [(ngModel)]="this.addedOffer.surface" placeholder="surface" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Nombre chambre</label>
                        <input type="number" class="form-control" name="nbChambre" id="nbChambre" [(ngModel)]="this.addedOffer.nbChambre" placeholder="nb Chambre" />
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea
                          class="form-control"
                          name="description" id="description" [(ngModel)]="this.addedOffer.description"
                          rows="4"
                        ></textarea>
                      </div>
                      <br><br><br><br>
                      <div class="form-group">
                      <div style="height: 500px; width: 500px;" id="map"></div>
                    </div>
                    <br><br><br>
                      <br>
                      <button (click)="onSubmit();" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </div>
                  </form>
                    </form>
                     
                  </div>
                </div>
              </div>
           
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © JOUHAR&NOUIGUA2022</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
  </body>
 